<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REPORTS</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div>
<!--                | means or operator-->
                <strong>{{ message|safe }}</strong>
            </div>
        {% endfor %}
    {% else %}
    {{ order }}
    <form action="" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <small>Only Accepts CSV Files</small>
        <button type="submit">Upload</button>
    </form>
    {% endif %}
    {% for data in analysis %}
    {{ data.UNIQUE_ID }}
    {{ data.CALL_DATE }}
    {{ data.SRC }}
    {% endfor %}
</body>
</html>