<!DOCTYPE html>
{% load bootstrap4 %}{% bootstrap_css %}{% bootstrap_javascript jquery='full' %}
{% load i18n %}
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>Grassroots</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'color_scatter.css' %}">
  <link rel="stylesheet" href="{% static 'pagination.css' %}">
  <link rel="stylesheet" href="{% static 'jquery.dataTables.min.css' %}">
  <link rel="stylesheet" href="{% static 'buttons.dataTables.min.css' %}">

  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'jquery-3.3.1.js' %}"></script>
  <script src="{% static 'jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'buttons.flash.min.js' %}"></script>
  <script src="{% static 'jszip.min.js' %}"></script>
  <script src="{% static 'vfs_fonts.js' %}"></script>
  <script src="{% static 'buttons.html5.min.js' %}"></script>
  <script src="{% static 'buttons.print.min.js' %}"></script>
  <script src="{% static 'loader.js' %}"></script>

  <script src="{% static 'urlcall.js' %}"></script>
  <script src="{% static 'jsonparse.js' %}"></script>
  <script src="{% static 'csvurl.js' %}"></script>
  <script src="{% static 'graphs.js' %}"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" />


</head>
<style>

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/* Style the header */
  .header {
  position: absolute
  background-color: #4f2f2f2;
  text-align: left;
 }


 * {
  box-sizing: border-box;
  }

  .btn-xl {
    padding: 40px 60px;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 10px;
  }

</style>

<body>
<nav class="navbar-expand-lg navbar-light bg-light d-flex fixed-top" style="height: 70px;">
  <a class="navbar-brand" href="#">
    <img src="{% static 'gr3.png' %}" height="40" width="160" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="nav navbar-nav navbar-right" style="margin-top: 15px;">
        <a class="nav-item active nav-link" href="{% url 'index' %}"> Dashboard <span class="sr-only">(current)</span></a>
        <div class="dropdown show active">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="zmdi zmdi-link"></i> Tables
          </a>
          <div class="dropdown-menu" style="width: 200px;" id="filename">
            <button class="dropdown-item" onclick="myFunction()" name="call_entry">Call Entry</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" onclick="myFunction()" name="call_progress">Call Progress</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" onclick="myFunction()" name="cdr">CDR</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" onclick="myFunction()" name="call_entry_and_cdr">Call Entry And CDR</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" onclick="myFunction()" name="call_entry_not_matched">Call Entry Not Matched</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" onclick="myFunction()" name="cdr_not_matched">CDR Not Matched</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" onclick="myFunction()" name="cuemath">Cuemath</button>
          </div>
        </div>

      <script>
        $(document).click(function(event) {
          var text = $(event.target).text();
        });
      </script>

        <a class="nav-item active nav-link" href="{% url 'reports' %}">
          <i class="zmdi zmdi-widgets"></i> Reports
        </a>
        <a class="nav-item active nav-link" href="{% url 'reports' %}">
          <i class="zmdi zmdi-widgets"></i> About
        </a>

      <div class="dropdown show">
        <a class="btn dropdown-toggle" href="#" role="button" id="emailDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu well" aria-labelledby="dropdownMenuLink" style="width:200px;">
<!--          <div><img class="img-responsive" style="padding:2%;" src="{% static 'member_icon.png'%}"/><a class="change" href="">Change Picture</a></div>-->
<!--          <hr>-->
          <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-lock"></span> Security </a>
          <a href="{% url 'login' %}" class="btn btn-sm btn-default" id="logout" onclick="removeEmail()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Collapsible content -->
</nav>
<script>
  var email = localStorage.getItem('email')
  document.getElementById('emailDropdown').innerHTML = "Hi.. " + email
  function removeEmail(){
    if (document.getElementById('logout')){
      localStorage.removeItem('email')
    }
  };
</script>

  <br><br>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3"></div>
        <div class="col-md-7">
          <form action="validation" method = 'GET'>
            <div class="row">
              <div class="col-25">
                <input type="date" id="sdate" name="startdate" placeholder="Start Date" required>
                <input type="date" id="edate" name="enddate" placeholder="End Date" required>
                <select class="btn btn-secondary dropdown-toggle" id="srvr" name="server" required>
                  <option value="">Select Server</option>
                  <option value="mysql">Mysql</option>
                  <option value="mongodb">MongoDB</option>
                  <option value="aws">AWS</option>
                </select>
                <select class="btn btn-secondary dropdown-toggle" id="file" name="file" required>
                  <option value="">Select File</option>
                  <option value="call_entry">CALL ENTRY</option>
                  <option value="call progress">CALL PROGRESS</option>
                  <option value="cdr">CDR</option>
                  <option value="callentry and cdr">Call Entry And CDR</option>
                  <option value="callentry not matched">Call Entry Not Matched</option>
                  <option value="cdr not matched">CDR Not Matched</option>
                  <option value="lifestyle cdr">LifeStyle CDR</option>
                  <option value="cuemath">Cuemath</option>
                </select>
                <input type="submit" class="btn btn-primary btn-sm" value="Load File" onclick="getdate()">
              </div>
            </div>
          </form>
        </div>
      <div class="col-md-3"></div>
    </div>
  </div>
<script type="text/javascript">
  function getdate(){
    var start_date=document.getElementById("sdate").value;
    var end_date=document.getElementById("edate").value;
    var server=document.getElementById("srvr").value;
    var file=document.getElementById("file").value;

      if (typeof(Storage) !== "undefined") {
      // Store
      localStorage.setItem("sdate", start_date);
      localStorage.setItem("edate", end_date);
      localStorage.setItem("server", server);
      localStorage.setItem("file", file);
      };
  }
</script>
<br>

  {% if ans_calls %}
 <div class="position-absolute shadow p-4 mb-4 bg-white p-3" style="width: 100%; left: 0%;">
    <div class="row shadow p-4 mb-4 bg-white">
      <h2 class="card-title"> Disposition </h2>
        <div class="col-md-12">
          <div class="col-md-3">
            <div class="d-inline-block card text-white mb-3" style="width: 16rem; background-color:forestgreen;">
              <div class="card-body">
                <h2 class="card-title"> {{ ans_calls }} %</h2>
                <p class="card-text"> Answered Calls </p>
                <p class="card-text"> {{ ans_count }} </p>
              </div>
            <div class="card-footer">
          <small>Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-inline-block card text-white mb-3" style="width: 16rem; background-color:orange;">
        <div class="card-body">
          <h2 class="card-title"> {{ no_ans_calls }} %</h2>
          <p class="card-text"> Not Answered Calls </p>
          <p class="card-text"> {{ no_ans_count }} </p>
        </div>
        <div class="card-footer">
          <small>Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-inline-block card text-white mb-3" style="width: 16rem; background-color:#FD2C2C;">
        <div class="card-body">
          <h2 class="card-title"> {{ failed_calls }} %</h2>
          <p class="card-text"> Failed Calls </p>
          <p class="card-text"> {{ failed_count }} </p>
        </div>
        <div class="card-footer">
          <small>Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
   </div>
 </div>

 <div class="row shadow p-4 mb-4 bg-white">
   <h2 class="card-title"> Duration On Call </h2>
   <div class="col-md-12">
     <div class="col-md-3">
      <div class="d-inline-block card text-white mb-3" style="width: 16rem; background-color:forestgreen;">
        <div class="card-body">
          <h2 class="card-title">{{ greater_than_30_sec }} %</h2>
          <p class="card-text">Call Duration More Than 30 sec </p>
          <p class="card-text"> {{ greater_than_30_count }} </p>
        </div>
        <div class="card-footer">
          <small>Last updated 3 mins ago</small>
        </div>
      </div>
     </div>
     <div class="col-md-3">
       <div class="d-inline-block card text-white mb-3" style="width: 16rem; background-color:orange;">
        <div class="card-body">
          <h2 class="card-title"> {{ less_than_30_sec }} %</h2>
          <p class="card-text"> Call Duration Less Than 30 sec </p>
          <p class="card-text"> {{ less_than_30_count }} </p>
        </div>
        <div class="card-footer">
          <small>Last updated 3 mins ago</small>
        </div>
       </div>
     </div>
     <div class="col-md-3">
      <div class="d-inline-block card text-white mb-3" style="width: 16rem; background-color:orangered;">
        <div class="card-body">
          <h2 class="card-title"> {{ less_than_20_sec }} %</h2>
          <p class="card-text"> Call Duration Less than 20 sec </p>
          <p class="card-text"> {{ less_than_20_count }} </p>
        </div>
        <div class="card-footer">
          <small>Last updated 3 mins ago</small>
        </div>
      </div>
     </div>
     <div class="col-md-3">
        <div class="d-inline-block card text-white mb-3" style="width: 16rem; background-color:#FD2C2C;">
          <div class="card-body">
            <h2 class="card-title"> {{ less_than_10_sec }} %</h2>
            <p class="card-text"> Call Duration Less than 10 sec </p>
            <p class="card-text"> {{ less_than_10_count }} </p>
          </div>
          <div class="card-footer">
            <small>Last updated 3 mins ago</small>
          </div>
        </div>
     </div>
   </div>
  </div>
</div>

  {% endif %}

  {% block chart %} {% endblock %}

  {% block tables %} {% endblock %}


</body>
</html>